name: Nice if example
on:
    push:
        branches:
            - main
            - develop
            - feature/**
jobs:
    quality_checks:
        if: startsWith(github.ref_name, 'feature') && github.event_name == 'push'
        runs-on: ubuntu-latest
        steps:
            - name: perform code quality
              run: |
                echo "perform code quality checks"
                exit 1
    deploy:
        if: github.ref_name == 'develop' && github.event_name == 'push'
        runs-on: ubuntu-latest
        steps:
            - name: Dev Deploy
              run: echo "Deploying the code to the development environment"

    prod_deploy:
        if: github.ref_name == 'main' && github.event_name == 'push'
        runs-on: ubuntu-latest
        steps:
            - name: Prod Deploy
              run: echo "Deploying the code to the production environment"

    success_notify:
        needs: [quality_checks, deploy, prod_deploy]
        if: always() && !failure()
        runs-on: ubuntu-latest
        steps:
            - name: Notify Success
              run: echo "Success email sent to the team"

    failure_notify:
        needs: [quality_checks, deploy, prod_deploy]
        if: failure()
        runs-on: ubuntu-latest
        steps:
            - name: Notify Failure
              run: echo "Failure email sent to the team"